
.vs/Du_An_1_Bug_Coffee/v17/.suo
3.PL/bin/Debug/net5.0-windows/3.PL.dll
3.PL/bin/Debug/net5.0-windows/3.PL.pdb
3.PL/obj/Debug/net5.0-windows/3.PL.dll
3.PL/obj/Debug/net5.0-windows/3.PL.pdb
3.PL/3.PL.csproj.user
3.PL/3.PL.csproj.user
3.PL/bin/Debug/net5.0-windows/3.PL.dll
3.PL/3.PL.csproj.user
3.PL/bin/Debug/net5.0-windows/3.PL.dll
3.PL/bin/Debug/net5.0-windows/3.PL.pdb
3.PL/obj/Debug/net5.0-windows/3.PL.csproj.CoreCompileInputs.cache
3.PL/obj/Debug/net5.0-windows/3.PL.csproj.GenerateResource.cache
3.PL/obj/Debug/net5.0-windows/3.PL.dll
3.PL/obj/Debug/net5.0-windows/3.PL.pdb
3.PL/obj/Debug/net5.0-windows/_3.PL.Views.TichDiemKH.resources
3.PL/obj/Debug/net5.0-windows/ref/3.PL.dll
.vs/Du_An_1_Bug_Coffee/DesignTimeBuild/.dtbcache.v2
